<div class="container">
    <h1>Add</h1>
    <hr>
    <div class="row">
        <div class="product col-lg-8 col-md-6 col-sm-12">
            <form name="addForm" novalidate ng-submit="addForm.$valid && ctrl.save();">
                <div class="form-group">
                    <label for="name">Product Name:</label>
                    <input class="form-control" type="text" name="name" id="name" ng-model="ctrl.product.name" maxlength="255" required>
                    <div class="validation" data-ng-show="addForm.name.$touched || addForm.$submitted">
                        <div data-ng-show="addForm.name.$error.required">
                            <span class="glyphicon glyphicon-alert"></span> Name is required.
                        </div>
                        <div data-ng-show="addForm.name.$error.maxlength">
                            <span class="glyphicon glyphicon-alert"></span> Name must be less than 255 character long.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="brand">Brand:</label>
                    <input class="form-control" type="text" name="brand" id="brand" ng-model="ctrl.product.brand" maxlength="255" required>
                    <div class="validation" data-ng-show="addForm.brand.$touched || addForm.$submitted">
                        <div data-ng-show="addForm.brand.$error.required">
                            <span class="glyphicon glyphicon-alert"></span> Brand is required.
                        </div>
                        <div data-ng-show="addForm.brand.$error.maxlength">
                            <span class="glyphicon glyphicon-alert"></span> Brand must be less than 255 character long.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="upc12">UPC12:</label>
                    <input class="form-control" type="number"  name="upc12" id="upc12" ng-model="ctrl.product.upc12"  minlength="12" required>
                    <div class="validation" data-ng-show="addForm.upc12.$touched || addForm.$submitted">
                        <div data-ng-show="addForm.upc12.$error.required">
                            <span class="glyphicon glyphicon-alert"></span> UPC12 is required.
                        </div>
                        <div data-ng-show="addForm.upc12.$error.minlength">
                            <span class="glyphicon glyphicon-alert"></span> Mininum length for UPC12 must be 12 digit.
                        </div>
                        <div class="validation" data-ng-show="addForm.upc12.$touched && ctrl.UPC12Exist">
                            <span class="glyphicon glyphicon-alert"></span> UPC12 already exist.
                        </div>
                    </div>
                    
                </div>
                <button type="submit" id="addSaveBtn" ng-disabled="addForm.$invalid" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-default" ng-click="ctrl.cancel();">Cancel</button>
            </form>
        </div>
    </div>
</div>